* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 70px;
  font-family: system-ui, sans-serif;
  color: white;
  background: linear-gradient(135deg, #f8fafc, #3b82f6, #7c3aed);
}

.intro {
  font-size: 22px;
  font-weight: 400;
}

.title {
  margin-top: 10px;
  font-size: 50px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* SOCIAL ICONS */
.socials {
  display: flex;
  gap: 18px;
  margin-top: 15px;
}

.socials a {
  color: #e5e7eb;
  font-size: 22px;
  transition: 0.3s;
  text-decoration: none;
}

.socials a:hover {
  color: #1d4ed8;
  transform: translateY(-3px);
}

/* BOX */
.gray_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  width: 430px;
  padding: 20px 0;
  background-color: #1e293b;
  border-radius: 12px;
  margin-top: 80px;
  text-align: center;
}

.gray_box .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.gray_box .col:not(:last-child) {
  border-right: 1px solid rgba(255,255,255,0.2);
}

.gray_box h3 {
  color: #a511bc;
  font-size: 20px;
  margin-bottom: 5px;
}

.gray_box p {
  font-size: 14px;
  color: #cbd5f5;
}

/* TECH STACK */
.tech_stack {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.tech_stack img {
  height: 40px;
  filter: brightness(0) invert(1);
  opacity: 0.8;
  transition: 0.3s;
}

.tech_stack img:hover {
  opacity: 1;
  transform: translateY(-4px) scale(1.1);
}

